<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link for navbar icon -->
    <link rel="icon" href="./Img/scissors-cut-cutlery-cutter-fork-knife-sizer-icon-18-B1.png">

    <!-- link for stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- link for fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- link for font -->
    <link href="https://fonts.googleapis.com/css?family=Stoke|Titillium+Web&display=swap" rel="stylesheet">

    <!-- for Animation on scroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title> LookBooker </title>

</head>
<body>

    <!-- navbar -->
    <header>
        <div class="container hero">
            <nav data-aos="fade-right" data-aos-duration="2000">
                <div class="logo">
                    <img src="/Img/icon.png" alt="sesor">
                </div>
                <div class="nav-item">
                    <ul>
                        <li><a href="#aboutt">ABOUT</a></li>
                        <li><a href="/login">LOGIN</a></li>
                        <li><a href="/login">SIGNUP</a></li>
                    </ul>
                </div>
            </nav>
            <div class="main" data-aos="fade-right" data-aos-duration="2000">
                    <h1>Welcome To LookBooker</h1>
                    <p>Here You can book your appoinment for your favourite salon</p>
                    <div class="btn btn-primary"><a href="/login">Book Now </a><span><i class="fas fa-chevron-right" id="right-arrow"></i></span></div>
            </div>
        </div>
    </header>

    <!-- about us -->
    <section class="about" data-aos="flip-left" data-aos-duration="2000">
        <div class="container">
            <h3>About Us</h3>
            <hr>
        </div>
    </section>
    <section class="about-content " id="aboutt" data-aos="fade-right" data-aos-duration="2000">
        <div class="container">
            <p>"Many people make mistake of saving money by wasting time. so, here you can book your appoinment from home 
                save your time..."
            </p>
        </div>
    </section>

    <!-- our team -->
    <section class="our-team" data-aos="zoom-in" data-aos-duration="1000">
        <div class="container">
            <h3>Our Team</h3>
            <hr>
        </div>
    </section>
    <section id="developing-team" >
        <div class="profile-img" data-aos="flip-up" data-aos-duration="500"></div>
        <div class="card1" data-aos="flip-up" data-aos-duration="500">
                <p>Dhyey Harihar Desai</p>
                <table>
                    <tr>
                        <td>Degree</td>
                        <td>BTech Information Technology</td>
                    </tr>
                    <tr>
                        <td>Batch</td>
                        <td>2018 - 2022</td>
                    </tr>
                    <tr>
                        <td>University</td>
                        <td>Charoter University of Science And Technology</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>Surat</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>dhyey870@gmail.com</td>
                    </tr>
                </table>
        </div>

        <div class="profile-img2" data-aos="flip-down" data-aos-duration="500" data-aos-delay="500"></div>
        <div class="card2" data-aos="flip-down" data-aos-duration="500" data-aos-delay="500">
                <p>Priyansh Jayeshbhai Desai</p>
                <table>
                    <tr>
                        <td>Degree</td>
                        <td>BTech Information Technology</td>
                    </tr>
                    <tr>
                        <td>Batch</td>
                        <td>2018 - 2022</td>
                    </tr>
                    <tr>
                        <td>University</td>
                        <td>Charoter University of Science And Technology</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>Navsari</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>Priyanshdesai2510@gmail.com</td>
                    </tr>
                </table>
        </div>
    </section>

    <!-- footer -->
    <footer id="main-footer">
            <p>LookBooker &COPY; 2019, All Rights Reserved</p>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>