<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link for navbar icon -->
    <link rel="icon" href="./Img/scissors-cut-cutlery-cutter-fork-knife-sizer-icon-18-B1.png">

    <!-- link for stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- link for fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- link for font -->
    <link href="https://fonts.googleapis.com/css?family=Stoke|Titillium+Web&display=swap" rel="stylesheet">

    <!-- for Animation on scroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title> LookBooker </title>

</head>
<body>

    <!-- navbar -->
    <header>
        <div class="container hero">
            
            <video src="/Img/bg.mp4" autoplay muted loop id="myvideo"></video>
            <div class="videoafter"></div>

            <nav data-aos="fade-right" data-aos-duration="2000">
                <div class="logo">
                    <img src="/Img/icon.png" alt="sesor">
                </div>
                <div class="nav-item">
                    <ul>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/login">LOGIN</a></li>
                        <li><a href="/login">SIGNUP</a></li>
                    </ul>
                </div>
            </nav>
            <div class="main" data-aos="fade-right" data-aos-duration="2000">
                    <h1>Welcome To <span>L</span><span>o</span><span>o</span><span>k</span><span>B</span><span>o</span><span>o</span><span>k</span><span>e</span><span>r</span></h1>
                    <p>Here, You can book your appoinment for your favourite salon.
                        Choose Your favourite slon and book your slot today using lookbooker web application.
                    This is first ever online slot booking web application for salons Welcome again..</p>
                    <div class="btn btn-primary"><a href="/login">Book Now </a><span><i class="fas fa-chevron-right" id="right-arrow"></i></span></div>
            </div>
        </div>
    </header>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>