:root{
    --primary-color:#ffffff;
    --secondary-color:#ff7315;

}
html{
    scroll-behavior: smooth;
}
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: 1.7rem;
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
}

/* utilities */
.container{
    margin:auto;
    max-width: 80%;
    padding: 0 20px;
}
h1{
    font-size: 60px;
    color:var(--primary-color);
}
h3{
    text-align: center;
    margin-top:5rem;
    font-size: 30px;
}
hr{
    border:1px var(--secondary-color) solid;
    width:40%;
}
.btn{
    display: inline-block;
    color:#fff;
    background-color:rgba(0,0,0,0);
    border: 2px var(--secondary-color) solid;
    font-size: 30px;
    padding: 10px 35px;
    border-radius: 10px;
}
.btn-primary{
    font-weight:100px;
}

/* navbar */
nav{
    position: fixed;
    top:0;
    width:100%;
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
.logo img{
    margin-top:1%;
    height: 50%;
    width:60%;
    margin-left: 2%;
}   
.nav-item ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav-item ul li{
    color:var(--primary-color);
    padding: 0.5% 2rem;
    margin: 10px 1.5rem;
    font-family: 'Stoke', serif;
}
.nav-item ul li a{
    display: block;
    color:var(--primary-color);
    text-decoration: none;
    font-weight: normal;
}
.nav-item ul li img{
    width:60px;
    height:60px;
    position: absolute;
    right:0;
    top:0;
    border-radius: 50%;
    margin-right:3%;
}
.nav-item ul li #profile:hover{
    animation: none;
}
.nav-item ul li a:hover{
    animation-name:bounce2;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}
@keyframes bounce2{
    0%{
        transform: translateY(0px);
        color:var(--secondary-color);
    }
    50%{
        transform: translateY(-10px);
        color:var(--secondary-color);
    }
    100%{
        transform: translateY(0px);
        color:var(--secondary-color);
    }
}
.main{
    display: flex;
    justify-content: space-between;
}
.main i{
    color:var(--primary-color);
    position: absolute;
    top:50%;
}


/* appoinment section */

.appoinment h3{
    text-align: center;
    font-size: 30px;
}
.appoinment input{
    line-height: 50px;
    color: rgba(0, 0, 0, 0.81);
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    border: 2px var(--secondary-color) solid;
    text-align: center;
    margin-left:43%;
}
.appoinment i{
    margin-left:20px;
}

/* box section */
.box{
    margin:2rem;
}
.box1{
    position: relative;
    display: flex;
    background: rgba(0, 0, 0, 0.81);
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    width:80%;
    margin-left: 10%;
    margin-top: 5rem;
}
.box1 .box-img{
    flex:1;
    width:50%;
    margin-right: 2rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
#pro-img{
    flex:1;
    margin-right: 2rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width:100%;
    height:100%;
}
.box1 .box-content{
    flex:1;
}
.box-content p a{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 73px;
    align-items: center;
    color: #FF7315;
    text-decoration: none;
}
.box-content i{
    color:white;
    margin-right: 2rem;
}
.location{
    display: flex;
    align-items: center;
    color:white;
    font-size: 20px;
}
.website{
    display: flex;
    align-items: center;
    color:white;
    font-size: 20px;
}
.box-content #open{
    position: absolute;
    top:120px;
    right:50px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 55px;
    color: #2DFE42;
}
.box3 .box-content #open{
    position: absolute;
    top:120px;
    right:50px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 55px;
    color: #fe2d2d;
}
.star i{
    margin-top:2rem;
    margin-bottom: 2rem;
}
.box1 .star i:nth-child(1),.box1 .star i:nth-child(2),.box1 .star i:nth-child(3),.box1 .star i:nth-child(4){
    color:#ffbd15;
}
.box2 .star i:nth-child(1),.box2 .star i:nth-child(2),.box2 .star i:nth-child(3),.box2 .star i:nth-child(4),.box2 .star i:nth-child(5){
    color:#ffbd15;
}
.box3 .star i:nth-child(1),.box3 .star i:nth-child(2),.box3 .star i:nth-child(3){
    color:#ffbd15;
}


/* Footer */
#main-footer{
    padding:20px;
    color:#fff;
    background:  rgba(1, 1, 1, 0.84);
    text-align: center;
}