:root{
    --primary-color:#ffffff;
    --secondary-color:#ff7315;

}
html{
    scroll-behavior: smooth;
}
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: 1.7rem;
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
}

/* utilities */
.container{
    margin:auto;
    max-width: 80%;
    padding: 0 20px;
}
h1{
    font-size: 60px;
    color:var(--primary-color);
}
.btn{
    display: inline-block;
    color:#fff;
    background-color:rgba(0,0,0,0);
    border: 2px var(--secondary-color) solid;
    font-size: 30px;
    padding: 10px 35px;
    border-radius: 10px;
}
.btn-primary{
    font-weight:100px;
}

/* navbar */
header{
    background-image: url('/Img/unnamed.jpg');
    background-size: cover;
    background-position: center;
    height:100vh;
    width:100%;
    position: relative;
    top:-80px;
    left:0px;
    margin-top: 0px;
}
/* .hero::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.24);
}  */
nav{
    width:100%;
    background-color: rgba(0,0,0,0);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    z-index: 2;
}
.logo img{
    margin-top:2.5rem;
    height: 100%;
    width:70%;
}
.nav-item ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav-item ul li{
    color:var(--primary-color);
    padding: 0.5rem 2rem;
    margin: 2rem;
    margin-top: 5rem;
    font-family: 'Stoke', serif;
}
.nav-item ul li a{
    display: block;
    color:var(--primary-color);
    text-decoration: none;
    /* padding: 1.5rem; */
}
.nav-item ul li a:hover{
    animation-name:bounce2;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}
@keyframes bounce2{
    0%{
        transform: translateY(0px);
        color:var(--secondary-color);
    }
    50%{
        transform: translateY(-10px);
        color:var(--secondary-color);
    }
    100%{
        transform: translateY(0px);
        color:var(--secondary-color);
    }
}

/* hero section */
.main{
    position: absolute;
    top:40%;
}
.main p{
    font-size: 30px;
    line-height: 55px;
    align-items: center;
    justify-content: center;
    color:#B4B1B1;
    width:70%;
}
.btn i{
    padding-left:10px;
}
.btn a{
    color:var(--primary-color);
    text-decoration: none;
}
#right-arrow{
    transform: translateX(0px);
    animation-name:bounce-right;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}
@keyframes bounce-right{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}


/* section : About us */
.about h3{
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    color: #000000;
    margin-bottom: 2rem;
}
.about hr{
    border: 2px solid #FF7315;
    width:40%;
    margin-bottom: 5rem;
}
.about-content{
    width:100vw;
    height:100%;
    background-image: url('/Img/about.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem;
    margin-bottom: 5rem;
}
/* .about-content::after{
    content: '';
    position: absolute;
    left: 0px;
    top: 1042px;
    width:100%;
    height: 580px;
    background-color: rgba(1, 1, 1, 0.24);
    display: flex;
    justify-content: center;
} */
.about-content p{
    margin:6rem auto;
    width:60%;
    border: 2px var(--secondary-color) solid;
    box-shadow: 0px 4px 5px #FFFFFF;
    font-weight: 600;
    font-size: 50px;
    line-height: 91px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

/* section : our team */

.our-team h3{
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    color: #000000;
    margin-bottom: 2rem;
    margin-top:2rem;
}
.our-team hr{
    border: 2px solid #FF7315;
    width:40%;
    margin-bottom: 5rem;
}
#developing-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow:auto ;
    overflow-x: hidden;
    height:50rem;
}
#developing-team .card1{
    width:40%;
    /* height:21rem; */
    overflow: auto;
    position: absolute;
    top:180px;
    left:80px;
    box-shadow: 0px 9px 38px -15px rgba(0,0,0,0.7);
    text-align: center;
    line-height: 2rem;
}
#developing-team .card2{
    width:40%;
    /* margin-left: 10px; */
    /* height:20rem; */
    overflow: auto;
    line-height: 2rem;
    position: absolute;
    top:180px;
    right:80px;
    /* right:50px; */
    box-shadow: 0px 9px 38px -15px rgba(0,0,0,0.7);
    text-align: center;
}
#developing-team .profile-img{
    z-index:2;
    position: absolute;
    top:50px;
    left:350px;
    height:150px;
    width:150px;
    background: url('/Img/dhyey.jpg') no-repeat center center/cover;
    border-radius: 50%;
    box-shadow: 0px 9px 38px -15px rgba(0,0,0,0.7);
}
#developing-team .profile-img2{
    z-index:2;
    position: absolute;
    top:50px;
    right:350px;
    height:150px;
    width:150px;
    background: url('/Img/priyansh.JPG') no-repeat center center/cover;
    border-radius: 50%;
    box-shadow: 0px 9px 38px -15px rgba(0,0,0,0.7);
}
#developing-team .card1  p,#developing-team .card2  p{
    font-size: 1.5rem;
    margin-top:3rem;
}
#developing-team .card1 table,#developing-team .card2 table{
    text-align: center;
    padding:2rem;
}
#developing-team .card1 table td:nth-child(1),#developing-team .card2 table td:nth-child(1){
    border-right: 5% dotted #333;
}


/* Footer */
#main-footer{
    padding:20px;
    color:#fff;
    background:  rgba(1, 1, 1, 0.84);
    text-align: center;
}