:root{
    --primary-color:#ffffff;
    --secondary-color:#ff7315;

}
html{
    scroll-behavior: smooth;
}
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: 1.7rem;
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
}

/* utilities */
.container{
    margin:auto;
    max-width: 80%;
    padding: 0 20px;
}
h1{
    font-size: 60px;
    color:var(--primary-color);
}
.btn{
    display: inline-block;
    color:#fff;
    background-color:rgba(0,0,0,0);
    border: 2px var(--secondary-color) solid;
    font-size: 30px;
    padding: 10px 35px;
    border-radius: 10px;
}
.btn-primary{
    font-weight:100px;
}

/* navbar */
header{
    /* background-image: url('/Img/unnamed.jpg'); */
    /* background-size: cover; */
    /* background-position: center; */
    height:90vh;
    width:100%;
    position: relative;
    top:-80px;
    left:0px;
    margin-top: 0px;
    overflow-y: hidden;
}
header #myvideo{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    min-height:100%;
    min-width:100%;
    z-index: -5;
}
header .videoafter{
    position: fixed;
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
    z-index:-2;
    background-color: rgba(0,0,0,0.70);
}
nav{
    width:100%;
    background-color: rgba(0,0,0,0);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    z-index: 2;
}
.logo img{
    margin-top:2.5rem;
    height: 100%;
    width:70%;
}
.nav-item ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav-item ul li{
    color:var(--primary-color);
    padding: 0.5rem 2rem;
    margin: 2rem;
    margin-top: 5rem;
    font-family: 'Stoke', serif;
}
.nav-item ul li a{
    display: block;
    color:var(--primary-color);
    text-decoration: none;
    /* padding: 1.5rem; */
}
.nav-item ul li a:hover{
    animation-name:bounce2;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}
@keyframes bounce2{
    0%{
        transform: translateY(0px);
        color:var(--secondary-color);
    }
    50%{
        transform: translateY(-10px);
        color:var(--secondary-color);
    }
    100%{
        transform: translateY(0px);
        color:var(--secondary-color);
    }
}

/* hero section */
.main{
    position: absolute;
    top:40%;
    width:90%;
    height:100%;
}
.main h1{
    text-align: center;
    margin-right:10%;
}
.main h1 span{
    color:var(--secondary-color);
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}
.main h1 span:nth-child(1){
    animation-delay: 0.5s;
}
.main h1 span:nth-child(2){
    animation-delay: 0.75s;
}
.main h1 span:nth-child(3){
    animation-delay: 1s;
}
.main h1 span:nth-child(4){
    animation-delay: 1.5s;
}
.main h1 span:nth-child(5){
    animation-delay: 1.75s;
}
.main h1 span:nth-child(6){
    animation-delay: 2s;
}
.main h1 span:nth-child(7){
    animation-delay: 2.5s;
}
.main h1 span:nth-child(8){
    animation-delay: 2.7s;
}
.main h1 span:nth-child(9){
    animation-delay: 3s;
}
.main h1 span:nth-child(10){
    animation-delay: 3.5s;
}
.main p{
    font-size: 30px;
    line-height: 55px;
    align-items: center;
    justify-content: center;
    color:#B4B1B1;
    width:70%;
    text-align: center;
    margin-left:8%;
    margin-top:4%;
}
.btn{
    margin-top:3%;
    margin-left:38%;
}
.btn i{
    padding-left:10px;
}
.btn a{
    color:var(--primary-color);
    text-decoration: none;
}
#right-arrow{
    transform: translateX(0px);
    animation-name:bounce-right;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}
@keyframes bounce-right{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}

